.main {
    padding: calc(2vw);
    background: var(--black);
}

.section-1 {
    margin: 30px 0;
}

.main {
    padding: 4vw;
    background: var(--black);
}

.section-1 {
    margin: 30px 0;
}

.row {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    margin: 42px 0;
}

.row.rev {
    flex-direction: row-reverse;
}

.row-img {
    width: 45%;
    margin: 24px 0;
}

.row-text {
    margin-left: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row.rev .row-text {
    margin-left: 0;
    margin-right: 10%;
}

.row-ul {
    color: var(--white);
    margin-left: 40px;
}

.section-3 {
    padding: 50px 0;
}

.platforms {
    display: grid;
    grid: repeat(2, 1fr) / repeat(3, 1fr);
}

.plat-a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plat-img {
    width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}

.dlc {
    width: 25%;
}

.dlc-title {
    padding: 17px 0;
}

.dlc-fig {
    width: 100%;
    padding: 17px;
    text-align: center;
}

.dlc-img {
    max-width: 282px;
    width: 20vw;
}

.dlc-text {
    max-width: 282px;
    width: 20vw;    
    margin: 0 auto;
    font-size: 10%;
}

@media screen and (max-width: 768px) {
    .platforms {
        grid: repeat(3, 1fr) / repeat(2, 1fr);
    }
    .row:has(.dlc) {
        flex-direction: column;
        align-items: center;
    }
    .dlc {
        width: 100%;
        margin: 17px 0;
    }
    .dlc-img {
        width: 280px;
    }
    .dlc-text {
        width: 280px;
    }
    .dlc-fig {
        padding: 0;
    }
}

@media screen and (max-width: 470px) {
    .main {
        padding: 6vw;
    }
    .row,
    .row.rev {
        flex-direction: column;
        align-items: center;
    }
    .row-text,
    .row.rev .row-text {
        margin: 0;
    }
    .row-img {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .main {
        padding: 3vw;
    }
}